@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent: #ff8e00;
    --main-grad: linear-gradient(to bottom, #FFAA00, #FF7400, #FF5900);
}

#parallax-card_about {
    background-image: url('../public/assets/background50.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-section {
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    max-height: 100vh;
    overflow-y: auto;
    padding-right: 25px;
}

.left-text {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 1.4;
    background-image: var(--main-grad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: left;
    color: #ff8e00;
}

.right-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1023px) {
    .about-section {
        max-height: 92vh;
        padding-right: 25px;
    }
    .left-text{
        font-size: 20px;
    }
     .right-text {
        font-size: 16px;
    }

    @media (max-width: 400px) {
        .left-text{
            font-size: 18px;
        }
         .right-text {
            font-size: 14px;
        }
        .about-section {
            max-height: 92vh;
            padding-right: 30px;
        }
    }

    @media (max-height: 600px) {
        .about-section {
            max-height: 92vh;
            padding-right: 25px;
        }

        .left-text{
            font-size: 16px;
        }
         .right-text {
            font-size: 12px;
        }
    }
}
